# Log directory
log/

# Ignore python compiled
*pyc

# Ignore setup.py build information
*egg-info
/dist/
build/

# Ignore pytest caching
.pytest_cache
__pycache__

# Ignore mypy
.mypy_cache

# Ignore coverage
.coverage

# Ignore visual studio code
.vscode

# Ignore any test folder for now
2021

# Ignore virtual env folder
.venv